header{
    position:fixed;
    top:0;
    left: 0;
    right:0;
    z-index: 100;
}
header #cabecera{
    display: flex;
    background: linear-gradient(180deg,#771439,#8f1e49);
    padding: 0px 20px;
    border-bottom: 3px solid #debe6f;
    height: 80px;
}
#cabecera div.logo{
    width: 80px;
}
#cabecera div.logo img{
    width: 80px;
}
#cabecera .enlace-inicio{
    flex: 2;
    margin: 0px 5px;
    padding: 15px;
}
#cabecera .enlace-inicio a {
    font-size: 2.4em;
    text-decoration: none;
    color: white;
    padding: 0px;
}
#cabecera .enlace-inicio label {
    position: absolute;
    bottom: 10px;
    left: 200px;
    color: white;
}

#cabecera #busqueda-usuario{
    flex: 1;
    margin: 0px 5px;
    padding: 20px;
}
#cabecera #menu-superior{
    flex: 2;
    text-transform: uppercase;
    margin: 0px 5px;
    padding: 15px;
}
.ui-autocomplete-items .img-perfil-busqueda { 
    max-width: 30px;
    max-height: 30px;
    max-width: 30px;
    border-radius: 50%;
    border: 2px solid #8c1d47;
    position: relative;
    min-width: 30px;
    min-height: 30px;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    border: 1px solid #999996 !important;
    background: #dedeb5 !important;
    color: #222 !important;
}

#menu-superior .ui-menuitem-active , #menu-superior .ui-state-hover{
    background: #691435;
    color: black;
    border-radius: 0px;
}

#menu-superior ul {
    float: right;
}
#menu-superior ul li{
    padding:13px;
}
#menu-superior .ui-menu .ui-menuitem {
    margin: 0px 3px;
    padding: 3px;                
}

/***********************    PIE DE PAGINA    ******************************/
footer {
    position:relative;
    bottom: 0;
    left: 0;
    right:0;
}

footer #bottom{
    display: flex;
    flex-wrap: wrap;
    background: linear-gradient(0deg,#771439,#8f1e49);
    padding: 0px 40px;    
    box-shadow: 0px 1px 10px #000000b3;
}

#bottom > label {
    width: 25%;
    text-decoration: none;
    color: white;
    padding:30px;
}
#bottom > #menu-redsocial {
    width: 65%;                
    padding: 0px;
    line-height: normal;
}

#menu-redsocial ul {
    float: right;
}
#menu-redsocial  ul li{
    padding:13px;
}
#menu-redsocial ul li a{
    color: #c05e83;
}

#menu-redsocial li:hover a#facebook{ color: #3b5998;}
#menu-redsocial li:hover a#twitter{ color: #55acee;}
#menu-redsocial li:hover a#google{ color: #dd4b39;}
#menu-redsocial li:hover a#pinterest{ color: #cb2027;}
#menu-redsocial li:hover a#contact{ color: cornsilk;}
#menu-redsocial li a#contact .ui-menuitem-icon { font-size: 1.8em;}

footer .ui-icon{
    width: 30px !important;
    height: 30px !important;
}

/*-----------  RESETEOS   -----------*/
html,body{
    height: 100%;
}

#cabecera .ui-widget-content, .ui-menubar, .ui-menu-list, .ui-menuitem, .ui-menuitem-link, .ui-menuitem-text, ui-icon{
    border: none; background: none; color: white;
}

#left{
    width: 25%;
    margin: 0px 15px;                
    min-width: 300px;
}

.link-publicar-viaje{
    display: none;
}

#content{
    /*width: 70%;
    margin: 0px 15px;*/
    background-color: #e9d7fa;
    padding-top: 80px;
    padding-bottom: 5em;
    /*display: flex;
    flex-wrap: wrap;*/
    padding-left: 6%;
    padding-right: 6%;
}
#content h1{
    color: #66667a;
}
.tablas{
    display: flex;
    flex-direction: row;
    margin: 40px;    
}
.tablas > div {
    flex: 1;
}
.logo-negro{
    display: none;
}

@media print {
    header,footer{
        display: none;
    }

    .logo-negro{
        display: flex;
        margin: 25px;
    }
    .logo-negro label{
        flex: 1;
        position: relative;
        top: 35px;
        color: black;
        font-size: 2em;
    }
    .logo-negro img{
        flex:1;
        max-width: 140px;
        max-height: 140px;
    }

    .tablas{
        display: flex;
        flex-direction: column;
        margin: 40px;    
    }
    .linea-temporal button{
        display:none;
    }
}