/*SETEOS CONTENEDORES PRINCIPALES*/
#main #left{
    display: none;
}

#main #content{
    margin: 0px auto;
    width: 75%;
    min-width: 700px;
    background: linear-gradient(0deg,#e9e8e8,#f2f2f2);
    padding: 0px;
    border: 1px solid #cecece;  
}


#info-viaje{
    width: 100%;  
    min-width: 500px;
    background: #efefc0;

}

div.img-portada-container{
    width: 100%;
    min-width: 500px;
    max-height: 250px;
    border-bottom: 1px solid #5a5a5a;
    overflow: hidden; /*Oculta el sobrante de la imagen de portada*/
}

.img-portada{
    width: 100%;
    min-width: 900px;
    margin-top: -20%;/*Centrar imagen*/
}

.container-cabecera{
    display: flex;
    padding: 0px 7%;
    border-bottom: 1px solid #c4c497;
}

.container-cabecera > div {
    margin: 0px 20px;
}

.container-cabecera .info-cabecera {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 10px 0;   
}
.container-cabecera .info-cabecera a{
    text-decoration: none;
}

.container-cabecera .descripcion-viaje{
    flex: 2;
    display: flex;
    flex-direction: column;
    padding: 10px 0; 
}

.info-usuario{
    display: flex;    
}

.info-usuario .info-usuario-text{
    display: flex;
    flex-direction: column;
    padding-left: 15px;
}

.info-usuario-text label{
    margin: 3px 0px;
}

.img-perfil{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid #8c1d47;
}

label.nombre-completo {
    font-size: 1.5em;
    color: #393939;
}
label.nombre-usuario {
    font-size: 1.1em;
    color: #79153a;
    font-weight: bold;
}

.descripcion-viaje label{
    margin: 5px 0px;
}
.descripcion-viaje .viaje-title{
    font-size: 2em;
}

.estadisticas-usuario{
    flex: 3
}
.fila-grid{
    display: flex;
    flex-wrap: nowrap;
    margin: 15px 0px;
}
.fila-grid label{    
     margin: 5px;
    flex: 1;
    text-align: center;
}

/*CONTENIDO PRINCIPAL - INFO VIAJES*/

#lista_entradas_dia{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 5%;
}

.container-entradas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 900px;
}

.info-entrada{
    flex: 1;
    background: #f8f8f8;
    border: 1px solid #c3c3c3;
    margin: 30px;
    min-width: 275px;
    max-width: 310px;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 3px #17171796;
}


.info-entrada label{
    margin: 6px 18px;
}

div.img-entrada-container{
    width: 100%;
    min-width: 275px;
    max-height: 170px;
    border-bottom: 1px solid #5a5a5a;
    overflow: hidden; /*Oculta el sobrante de la imagen de portada*/
}
.img-entrada-container img{
    width: 100%;
    max-width: 310px;

}
.info-entrada .entrada-title{
    font-size: 1.2em;
    color: #79153a;
    font-weight: bold;
    margin-top: 15px;
}

.info-entrada .entrada-ciudad{
    color: #c3c3c3;
}

.info-entrada .entrada-ciudad span:first-child{
    margin-left: 5px;
}

#content #puntuacion .ui-rating{
    display: inline-block;
}

#content #puntuacion span{
    margin-left: 5px
}
.entrada-tipo{
    color: #838383;    
}

.info-entrada .descripcion {
    text-align: justify;
}

.botonera-add-entrada-dia{
    display: flex;
    margin: 20px auto;   
}

.botonera-add-entrada-dia .div-nueva-entrada{
    flex: 1;
     padding-top: 20px;
}

.botonera-add-entrada-dia .nuevo-dia{
    flex: 1;
    display: flex;
    flex-direction: column;
}

#content .botonera-add-entrada-dia button{
    display: block;
    border-radius: 3px;
    background: #690c2f;
    border: 1px solid #debe6f;
    color: #ffffff;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    width: 190px;
    height: 55px;
    min-width: 175px;
    margin: 10px auto;
}

#content .botonera-add-entrada-dia button:hover{
    background: #8d2e51; 
    border: 1px solid #debe6f;
    transition: 0.5s;
}

/***EASY PAGINATE***/
.easyPaginateNav {
    margin: auto;
    background: #d8d8d8;
    border-top: 1px solid #831941b3;
    padding: 10px;
    text-align: center;
}
.easyPaginateNav a{
    text-decoration: none;
    color: #7f173e;
    padding: 3px 6px;
    margin: 5px;
    font-size: 1.5em;
}
.easyPaginateNav a.current {
    background: #7f173e;
    border-radius: 3px;
    color: #ffffff;
}