/*SETEOS CONTENEDORES PRINCIPALES*/
#main #left{
    display: none;
}

#main #content{
    margin: 0px auto;
    width: 85%;
    min-width: 700px;
    background: lightsteelblue;
    padding: 0px;   
}

#info-viaje{
    width: 100%;  
    min-width: 500px;
    background: #efefc0;

}

div.img-portada-container{
    width: 100%;
    min-width: 500px;
    max-height: 250px;
    border-bottom: 1px solid #5a5a5a;
    overflow: hidden; /*Oculta el sobrante de la imagen de portada*/
}

.img-portada{
    width: 100%;
    min-width: 900px;
    margin-top: -20%;/*Centrar imagen*/
}

.container-cabecera{
    display: flex;
    padding: 0px 7%;
}

.container-cabecera > div {
    margin: 0px 20px;
}

.container-cabecera .info-cabecera {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 10px 0;   
}

.container-cabecera .descripcion-viaje{
    flex: 2;
    display: flex;
    flex-direction: column;
    padding: 10px 0; 
}

.info-usuario{
    display: flex;    
}

.info-usuario .info-usuario-text{
    display: flex;
    flex-direction: column;
    padding-left: 15px;
}

.info-usuario-text label{
    margin: 3px 0px;
}

.img-perfil{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid #8c1d47;
}

label.nombre-completo {
    font-size: 1.5em;
    color: #393939;
}
label.nombre-usuario {
    font-size: 1.1em;
    color: #79153a;
    font-weight: bold;
}

.descripcion-viaje label{
    margin: 5px 0px;
}
.descripcion-viaje .viaje-title{
    font-size: 2em;
}

.estadisticas-usuario{
    flex: 3
}
.fila-grid{
    display: flex;
    flex-wrap: nowrap;
    margin: 15px 0px;
}
.fila-grid label{
    /*display: block;*/
    flex: 1;
    text-align: center;
}

/*CONTENIDO PRINCIPAL - INFO VIAJES*/

.lista_entradas_dia{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 5%;
}

.info-entrada{
    flex: 1;
    background: #f8f8f8;
    border: 1px solid #c3c3c3;
    margin: 30px;
    min-width: 275px;
    max-width: 310px;
    display: flex;
    flex-direction: column;
}

.info-entrada label{
    margin: 6px 18px;
}

div.img-entrada-container{
    width: 100%;
    min-width: 275px;
    max-height: 178px;
    border-bottom: 1px solid #5a5a5a;
    overflow: hidden; /*Oculta el sobrante de la imagen de portada*/
}
.img-entrada-container img{
    width: 100%;
    max-width: 310px;

}
.info-entrada .entrada-title{
    font-size: 1.2em;
    color: #79153a;
    font-weight: bold;
    margin-top: 15px;
}

.info-entrada .entrada-ciudad{
    color: #c3c3c3;
}

.info-entrada .entrada-ciudad span:first-child{
    margin-left: 5px;
}

#content #puntuacion .ui-rating{
    display: inline-block;
}

#content #puntuacion span{
    margin-left: 5px
}
.entrada-tipo{
    color: #838383;    
}

.info-entrada .descripcion {
    text-align: justify;
}