#panel_busqueda{
    background: url("#{resource['images/vistas/index/background_busqueda.jpg']}") no-repeat;
    background-size: cover;
    height: 330px;
    background-position: 0px;
    box-shadow: 0px 0px 10px #030303;
    border-bottom: 2px solid #debe6f;
    padding-top: 100px;
}
#content h3{
    text-align: center;
    font-family: 'Quicksand', sans-serif; 
    color: #6c4654;
}

#panel_busqueda p {
    text-align: center;
    padding-top: 150px;
    margin-bottom: 75px;
}


#panel_busqueda p input, #panel_busqueda p button{    
    margin: 10px;
}

#panel_busqueda p button{
    background: #690c2f;
    border: 1px solid #debe6f;
}

#panel_busqueda p button:hover{
    background: #8d2e51;
    /*background: #690c2f;*/
    border: 1px solid #c09f4d;
}

#panel_busqueda h1,#panel_busqueda h2{
    text-align: center;
    color: white;
    margin: 40px;
    font-family: 'Quicksand', sans-serif; 
}

#paises_continent_grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 5%;
}

h1{
    text-align: center;
    font-family: 'Quicksand', sans-serif; 
    color: #6c4654;
}

.container-entradas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 900px;
}

.info-entrada{
    flex: 1;
    background: #f8f8f8;
    border: 1px solid #c3c3c3;
    margin: 30px;
    min-width: 275px;
    max-width: 310px;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 3px #17171796;
}
.info-entrada:hover{
    box-shadow: 1px 1px 6px #17171799;
} 


.info-entrada label{
    margin: 6px 18px;
}

div.img-entrada-container{
    width: 100%;
    min-width: 275px;
    max-height: 178px;
    border-bottom: 1px solid #5a5a5a;
    overflow: hidden; /*Oculta el sobrante de la imagen de portada*/
}
.img-entrada-container img{
    width: 100%;
    max-width: 310px;

}
.info-entrada .entrada-title{
    font-size: 1.2em;
    color: #79153a;
    font-weight: bold;
    margin-top: 15px;
}

.info-entrada .entrada-ciudad{
    color: #c3c3c3;
}

.info-entrada .entrada-ciudad span:first-child{
    margin-left: 5px;
}

#content #puntuacion .ui-rating{
    display: inline-block;
}

#content #puntuacion span{
    margin-left: 5px
}
.entrada-tipo{
    color: #838383;    
}

.info-entrada .descripcion {
    text-align: justify;
}