/*SETEOS CONTENEDORES PRINCIPALES*/
#main #left{
    display: none;
}

#main #content{
    margin: 0px auto;
    width: 75%;
    min-width: 700px;
    background: linear-gradient(0deg,#e9e8e8,#f2f2f2);
    padding: 0px;
    border: 1px solid #cecece;  
}

#info-usuario{
    width: 100%;  
    min-width: 500px;
    background: #efefc0;
    height: 256px;
}

div.img-portada-container{
    width: 100%;
    min-width: 500px;
    max-height: 185px;
    border-bottom: 1px solid #5a5a5a;
    overflow: hidden; /*Oculta el sobrante de la imagen de portada*/
}
.img-portada{
    width: 100%;
    min-width: 900px;
    margin-top: -15%;
}

.img-perfil{
    width: 105px;
    height: 105px;
    border-radius: 50%;
    border: 4px solid #8c1d47;
    position: relative;
    top: -77px;
    left: 45px;
    z-index: 1;
    /*min-width: 100px;
    min-height: 100px;
    max-width: 110px;
    max-height: 110px;*/
}

#left .ui-link {
    text-decoration: none;
    color: #383838;
}

label.nombre-completo {
    position: relative;    
    top: -140px;
    left: 85px;
    z-index: 1;
    font-size: 2em;
    color: #f8f8f8;
    font-weight: bold;
    text-shadow: 1px 1px 2px #0f0f0f;
}

label.nombre-usuario {
    position: relative;
    display: block;
    top: -81px;
    left: 55px;
    font-size: 1.2em;
    color: #79153a;
    font-weight: bold;
    z-index: 1;
}
span.nombre-usuario{
    color: #79153a;
    font-weight: bold;
}
.barra-superior{
    display: flex;
    padding-left: 20%;
    background: #efefc0;
    position: relative;
    top: -154px;
    border-bottom: 1px solid #a15f78;
}
.boton-config-follow{
    flex: 1;
    padding: 15px;
}
.boton-config-follow #guardarCambios{
    border-radius: 5px;
    background: #690c2f;
    border: 1px solid #debe6f;
    color: #ffffff;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    padding: 5px 10px;
    text-transform: uppercase;
    font-size: 0.8em;
    margin: 5px;
    min-width: 185px;
}
.boton-config-follow #guardarCambios:hover{
    background: #8d2e51; 
    border: 1px solid #debe6f;
    transition: 0.5s;
}

.estadisticas-usuario{
    flex: 3
}
.fila-grid{
    display: flex;
    flex-wrap: nowrap;
    margin: 15px 0px;
}
.fila-grid label{
    /*display: block;*/
    flex: 1;
    text-align: center;
}

/*********************-------FORMULARIO---------********************/

#main #datos-usuario{
    padding: 30px 50px;
    background: linear-gradient(0deg,#7a153b29,#a156724f);
    border: 1px solid #811840b3;
}

h2#titulo-formulario-editPerfil{
    text-align: center;
    margin: 25px;
    color: #881b44;
    text-shadow: 0px 0px 3px #0006;
}

#main #datos-usuario .form-column{
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.form-validation .form-row{
    display: flex;
    flex-direction: row;
    margin: 10px;
}

label.error {
    margin: 10px 0px;
    text-align: left;
    margin-bottom: 10px;
    max-width: 280px;
    font-size: 0.8em;
    color: #b94d4d;    
    font-weight: bold;
}

.form-row > span {
    text-align: right;
    margin: 8px 14px;
    min-width: 165px;
}

section.form-validation{
    box-sizing: border-box;
    width: 70%;
    max-width: 800px;
    min-width: 380px;
    margin: 30px auto;
}

.form-validation .form-column > span{
    display: inline-block;
    box-sizing: border-box;
    color:  #5f5f5f;
    width: 220px;
    text-align: right;
    padding: 8px 25px;
}
.form-validation .form-column:first-child{    
    margin: 20px 0px;
    border-top: 1px solid #9b4a69;
}

.form-validation #imagen_perfil , .form-validation #imagen_portada{
    width: 100%; 
    box-shadow: none;
    padding:0px;
    border: none;    
    margin-left: 35px;
} 

@media (max-width: 700px) {

    .form-validation{
        margin-top: 0;
        padding: 30px;
        max-width: 480px;
    }

    .form-validation .form-row{
        max-width: 300px;
        margin: 25px auto;
        text-align: left;
    }

    .form-validation .form-title-row{
        margin-bottom: 50px;
    }

    .form-validation h1{
        padding: 0 0 15px 0;
    }

    .form-validation .form-row > span{
        display: block;
        text-align: left;
        padding: 0 0 15px;
    }

    .form-validation input,
    .form-validation select{
        width: 220px;
    }

    .form-validation .form-checkbox span{
        display: inline-block !important;
        width: 100px !important;
    }

    .form-validation button{
        margin: 0;
    }

}




