/*----------- CABECERA ---------------*/
header{
    position:fixed;
    top:0;
    left: 0;
    right:0;
    z-index: 1;
}
header #cabecera{
    display: flex;
    background: linear-gradient(180deg,#771439,#8f1e49);
    padding: 0px 40px;
    border-bottom: 3px solid #debe6f;
    /*box-shadow: 0px 1px 10px #000000b3;*/
}

#cabecera > a {
    width: 35%;
    font-size: 2em;
    text-decoration: none;
    color: white;
    padding:10px;
}
#cabecera  select {
    text-transform: uppercase;
    background: #851a43;
    color: #ffffff;
    padding: 0px 5px 0px 30px;
    border: 1px solid #650e2e;
    margin: 15px;
}

#cabecera select option:first-child {
    /*background: url("./images/spanishFlag.jpg");*/
    background: url("#{resource['images/spanishFlag.jpg']}");  
}

#cabecera select option:nth-child(2){
    background: url("#{resource['images/englishFlag.jpg']}");  
}

#cabecera > #menu-superior {
    width: 65%;                
    padding: 0px;
    line-height: normal;
    text-transform: uppercase;
}

#menu-superior .ui-menuitem-active , #menu-superior .ui-state-hover{
    background: #691435;
    color: black;
    border-radius: 0px;
}

#menu-superior ul {
    float: right;
}
#menu-superior ul li{
    padding:13px;
}
#menu-superior .ui-menu .ui-menuitem {
    margin: 0px 3px;
    padding: 3px;                
}


/***********************    PIE DE PAGINA    ******************************/
footer {
    position:relative;
    /*position:absolute;*/
    bottom: 0;
    left: 0;
    right:0;
}

footer #bottom{
    display: flex;
    flex-wrap: wrap;
    background: linear-gradient(0deg,#771439,#8f1e49);
    padding: 0px 40px;    
    box-shadow: 0px 1px 10px #000000b3;
}

#bottom > label {
    width: 25%;
    text-decoration: none;
    color: white;
    padding:30px;
}
#bottom > #menu-redsocial {
    width: 65%;                
    padding: 0px;
    line-height: normal;
}

#menu-redsocial ul {
    float: right;
}
#menu-redsocial  ul li{
    padding:13px;
}
#menu-redsocial ul li a{
    color: #c05e83;
}

#menu-redsocial li:hover a#facebook{ color: #3b5998;}
#menu-redsocial li:hover a#twitter{ color: #55acee;}
#menu-redsocial li:hover a#google{ color: #dd4b39;}
#menu-redsocial li:hover a#pinterest{ color: #cb2027;}
#menu-redsocial li:hover a#contact{ color: cornsilk;}
#menu-redsocial li a#contact .ui-menuitem-icon { font-size: 1.8em;}

footer .ui-icon{
    width: 30px !important;
    height: 30px !important;
}

/*REVISAR ESTA PROPIEDAD
footer .ui-g div:first-child{
    padding-top: 2%;
}*/

/*-----------  RESETEOS   -----------*/
html,body{
    height: 100vh;
}
#content{
    padding-top: 2.5em;
    padding-bottom: 5em;
}

#menu-redsocial  .ui-widget-content, .ui-menubar, .ui-menu-list, .ui-menuitem, .ui-menuitem-link, .ui-menuitem-text, ui-icon{
    border: none; background: none; color: white;
}
#cabecera .ui-widget-content, .ui-menubar, .ui-menu-list, .ui-menuitem, .ui-menuitem-link, .ui-menuitem-text, ui-icon{
    border: none; background: none; color: white;
}

#menu-redsocial .ui-menuitem-active , #menu-redsocial .ui-state-hover{
    background: none;
    border-radius: 0px;
}
/*TODO REVISAR ESTE SETEO DEL BODY*/

body {    
    font-family: "Roboto";
    font-size: 14px;
    background-size: 200% 100% !important; /*Para que cubra completo el degradado*/
    /*animation: move 15s ease infinite;*/
    transform: translate3d(0, 0, 0);
    background: linear-gradient(45deg, #fff, #934B66 95%);
}

@keyframes move {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0 ;
    }

    100% {
        background-position: 0 0;
    }
}