

#left .link-publicar-viaje{
    display: block;
    margin: 45px auto;
    width: 40%;
    width: 190px;
}

#left .link-publicar-viaje .ui-link{
    text-decoration: none;
    color: #ffffff;
    background: #690c2f;
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 2px;
    border: 1px solid #debe6f;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.15);
}

#left .link-publicar-viaje .ui-link:hover{
    background: #8d2e51; 
    border: 1px solid #debe6f;
    transition: 0.5s;
}

/*ASIDE INFORMACION USUARIO*/
#info-usuario{
    width: 100%;
    max-width: 350px;    
    min-width: 300px;
    background: #efefc0;
}

div.img-portada-container{
    width: 100%;
    max-width: 350px;
    min-width: 300px;
    max-height: 185px;
    overflow: hidden; /*Oculta el sobrante de la imagen de portada*/
}
.img-portada{
    width: 100%;
}

.img-perfil{
    max-width: 80px;
    max-height: 80px;
    border-radius: 50%;
    /*    border: 2px solid lightgoldenrodyellow;*/
    border: 2px solid #8c1d47;
    position: relative;
    top: -35px;
    left: 15px;
    min-width: 70px;
    min-height: 70px;
    width: 60%;
}

#left .ui-link {
    text-decoration: none;
    color: #383838;
}

label.nombre-completo {
    position: relative;    
    display: block;
    top: -75px;
    left: 110px;
}

label.nombre-usuario {
    position: relative;
    display: block;
    top: -70px;
    left: 110px;
    /*font-size: 0.9em;*/
    color: #79153a;
    font-weight: bold;
}
.estadisticas-usuario{
    position: relative;
    top: -55px;
}
.fila-grid{
    display: flex;
    flex-wrap: nowrap;
    margin: 15px 0px;
}
.fila-grid label{
    /*display: block;*/
    flex: 1;
    text-align: center;
}

/*CONTENIDO PRINCIPAL - INFO VIAJES*/

#main #content{
    padding-top:0px;  
    background: none;
}

#viajes_siguiendo a {
    text-decoration: none;
}

#viajes_siguiendo #infoViaje{
    background: #f6f2dc;
    margin: 15px;
    padding: 0px 0px 0px 25px;
    position: relative;
    display: flex;
    border: 1px solid #d5d5d5;
}

#viajes_siguiendo #infoViaje .info-general-left{
    flex: 3;
    display: flex;
    flex-direction: column;
    padding: 10px 0px;
}
/*Estructuracion de imagen, titulo y usuario de viaje*/
.info-general-left .info-general-left-header{
    flex: 1;
    display: flex;
}

.info-general-left .info-general-left-header img{
    flex: 1;
}
.info-general-left .info-general-left-header div{
    flex: 2;
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}
.info-general-left .info-general-left-header div span{
    flex: 1;
}

.info-general-left .info-general-left-bottom{
    display: flex;
}

.info-general-left .info-general-left-bottom label:first-child{
    flex: 1;
    color: #9b4867;
    text-shadow: 1px 1px 2px #3e3e3e80;
}
.info-general-left .info-general-left-bottom .icono{
    margin-right: 5px;
}
.info-general-left .info-general-left-bottom label:last-child{
    flex: 1;
    text-align: right;
    padding-right: 15px;
    font-size: 0.8em;
    color: #838383;
}

#viajes_siguiendo #infoViaje img.viaje-imgUsuario{
    max-width: 50px;
    max-height: 50px;
    border-radius: 50%;
    border: 2px solid #8c1d47;
    min-width: 40px;   
    min-height: 40px;
}

#infoViaje .viaje-title{
    font-weight: bold;
    font-size: 1.3em;
}

#infoViaje .viaje-nombreUsuario{
    font-weight: bold;
    color: #79153a;
    position: relative;
    top: 0px;
}

#infoViaje .viaje-descripcion{
    font-size: 0.9em;
    font-weight: normal;
    margin: 15px 0px;
}
#infoViaje .img-viaje{
    flex: 1;
    max-width: 300px;
    min-width: 185px;
    min-height: 125px;
}
