/*----------- CABECERA ---------------*/
header{
    position:fixed;
    top:0;
    left: 0;
    right:0;
    z-index: 100;
    font-family: 'Abel', sans-serif;
}
header #cabecera{
    display: flex;
    background: linear-gradient(180deg,#771439,#8f1e49);
    padding: 0px 20px;
    border-bottom: 3px solid #debe6f;
    height: 80px;
}
#cabecera div.logo{
    width: 80px;
}
#cabecera div.logo img{
    width: 80px;
}
#cabecera .enlace-inicio{
    flex: 2;
    margin: 0px 5px;
    padding: 15px;
}
#cabecera .enlace-inicio a {
    font-size: 2.4em;
    text-decoration: none;
    color: white;
    padding: 0px;
}
#cabecera .enlace-inicio label {
    position: absolute;
    bottom: 10px;
    left: 200px;
    color: white;
}

#cabecera #busqueda-usuario{
    flex: 1;
    margin: 0px 5px;
    padding: 20px;
}
#cabecera #menu-superior{
    flex: 2;
    text-transform: uppercase;
    margin: 0px 5px;
    padding: 15px;
}
 .ui-autocomplete-items .img-perfil-busqueda { 
    max-width: 30px;
    max-height: 30px;
    max-width: 30px;
    border-radius: 50%;
    border: 2px solid #8c1d47;
    position: relative;
    min-width: 30px;
    min-height: 30px;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    border: 1px solid #999996 !important;
    background: #dedeb5 !important;
    color: #222 !important;
}

#menu-superior .ui-menuitem-active , #menu-superior .ui-state-hover{
    background: #691435;
    color: black;
    border-radius: 0px;
}

#menu-superior ul {
    float: right;
}
#menu-superior ul li{
    padding:13px;
}
#menu-superior .ui-menu .ui-menuitem {
    margin: 0px 3px;
    padding: 3px;                
}
.ui-widget .ui-icon.fa, .ui-icon.fa{
    color: #ffffff;
}
#menu-superior .fa-power-off{
    color: #ffffff;
}

/*-----------  RESETEOS   -----------*/
html,body{
    height: 100%;
    font-family: 'Quicksand', sans-serif;  
}

body span, body label{    
    font-family: 'Quicksand', sans-serif; 
}
#cabecera .ui-widget-content, .ui-menubar, .ui-menu-list, .ui-menuitem, .ui-menuitem-link, .ui-menuitem-text, ui-icon{
    border: none; background: none; color: white;
}


#main{
    display: flex;
    flex-wrap: nowrap;
    padding: 82px 4%;
}

#content{
    width: 70%;
    margin: 0px 15px;
    background-color: #e9d7fa;
    padding-top: 2.5em;
    padding-bottom: 5em;
}